*{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    font-weight: bold;
}
#carouselExampleCaptions{
    width: 100%;
    height: calc(95vh - 50px);
    margin: auto;
}
.c-img{
    height: 95vh;
    background-position: center;
    background-size: cover;
}
.btn-danger{
    margin-left: 5px;
}